<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financijski</title>
    <link href="../commonStyles.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <%- include("../partials/navbar") %>

    <div class="content-columns-container">
      <div class="content-column-container">
       <%- include("parts/accountsSection")%>
       <%- include("parts/totalSection")%>
       <%- include("parts/transGroupsSection")%>
      </div>
    </div>

    <script  type="module" src="main.js"></script>

    <script src="../commonScript.js"></script>
  </body>
</html>
