<div>
    <div>
        <button>X</button>
    </div>
    <div>
        <h1>MSG</h1>
        <form>
            <input type="hidden" name="deleteElementId" value="0" />
            <input type="hidden" name="deleteElementType" value="0" />
            <button type="button">Odustani</button>
            <button>Izbriši</button>
        </form>
       
    </div>
</div>