<div class="navbar-div-container">
    <div class="navbar-logo">
     
            <a href="/Home"><i></i></a>
      
    </div>

    <ul class="navbar-ul">

        <li>
            <div class="navbar-element-div">
                <a href="/Home">Početna</a>
             
            </div>
        </li>
        <li>
            <div class="navbar-element-div">
                <a href="/Financial">Financijski</a>
             
            </div>
        </li>
        <li>
            <div class="navbar-element-div" >
                <a href="/Medical">Medicinski</a>
            </div>
        </li>

        <li>
            <div class="navbar-element-div" >
                <a href="/Productivity ">Produktivnost</a>
            </div>
        </li>

        <li>
            <div class="navbar-element-div" >
                <a href="/Diary ">Dnevnik</a>
            </div>
        </li>

    </ul>

    <div class="navbar-hamburger">
        <button>☰</button>
      </div>

</div>