/*---ROWS -SECTIONS  -FINANCIAL */

.section-container{
width: 100%;
}
.section-container h1{
    text-align: center;
}

.content-scrollable-row{
    overflow-x:scroll;
    overflow-y: hidden;
    height: auto;
    min-height: 33vh;
}

.content-row{
    min-width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;
   
    background-color: rgb(217, 247, 237);
    
  
}

.content-row-card{
    min-height: 33vh;
    height: 100%;
    width: 300px;
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(171, 255, 172);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.content-column-container{
    background-color: rgb(165, 211, 197);
}
.bottom-button{
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    margin-bottom: 5px;
}
.bottom-button button{
    width: 90%;
    height: 50px;
  border: none;
  cursor: pointer;
 background-color: rgb(146, 245, 195);
 border-radius: 15px;
 border: 5px solid rgb(255, 255, 255);
}
.bottom-button button:hover{
    width: 95%;
    height: 55px;
    font-size: larger;
    border: 5px solid rgb(146, 245, 195);

    background-color: rgb(196, 251, 223);
}
.new-item-button{
    width: 100%;
    height: 100%;
    min-height: 33vh;
    border:none;
    cursor: pointer;
    background-color: transparent;
    font-size: x-large;
    font-weight: bolder;
  
   
}
.new-item-button:hover{
    background-color: aquamarine;
}

/*---------------------------------------------------------*/

.fin-acc-form-popup{
    background-color: rgb(206, 244, 177);
}

/*---------------------------------------------------------*/
.fin-acc-view-title-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.fin-acc-view-account-details{
    flex:1;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}



.fin-acc-row-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
    
}

.fin-acc-edit-btn:hover{
    border:2px solid rgb(95, 95, 95);
}

.fin-acc-edit-btn{
   
    height: 100%;
   
   border: none;
   color: gray;
    cursor: pointer;
    background-color: transparent;
    font-size: x-large;
    font-weight: bolder;

}

.fin-acc-new-trans-btn{
    margin-right: 50px;
    height: 40px;
    font-size: large;
    background: none;
    border: dotted 2px gray;
}
.fin-acc-new-trans-btn:hover{
    cursor: pointer;
    border:solid 2px gray;
}

.table-container-fin-acc{
   
    width: 100%;
    display: flex;
    flex-direction: row;
}


.table-container-fin-acc table{
    width: 100%;
    margin: 20px;
    text-align: center;

}