<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../commonStyles.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("./partials/navbar") %>

    <div class="content-columns-container">
     
        <div>
          <div><button>Termini</button></div>
          <div><button>Grupe</button></div>
          <div><button>Postavke</button></div>
          <div><a>Izvoz podataka</a></div>
        </div>

        <div>
          <form>
            <input type="time" />
            <input />
            <select></select>
            <input />
            <button>Dodaj termin</button>
          </form>

          <div>
            <form>
              <input />
              <button>Dodaj grupu</button>
            </form>
          </div>
          
        </div>

    </div>


  </body>
</html>
