
body{
    margin: auto;   font-family: Arial, Helvetica, sans-serif;
}
 .navbar-div-container{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: rgb(60, 60, 60);
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.navbar-logo{
    width: 150px;
    height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
    
}
.navbar-logo a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(71, 72, 72);
}
.navbar-ul{

    display: flex;
    flex-direction: row;
    flex:1;
    list-style: none;

}
.navbar-ul li{
    margin-right: 10px;
}
.navbar-element-div{
    width: 100%;
    height: 100px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   

}
.navbar-element-div a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
    text-decoration: none;
 
    color: white;
}



.navbar-user-info{
    color: white;
    width: 100px;
    height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-user-info {
    cursor: pointer;
    
}
.navbar-user-info:hover{
    color: aquamarine;
}


.navbar-hamburger{
    
    width: 100px;
    height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display:none;
}

.navbar-hamburger button{
   
width: 100%;
height: 100%;
border: none;
cursor: pointer;
font-size: xx-large;

}
/*/dropdown user info*/
.user-info-dropdown {
    position: absolute;
    right: 0;
    width: 20%;
  color: white;
    background-color: rgb(76, 76, 76);
}
.user-info-dropdown-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.user-info-dropdown-item a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: large;
}
.user-info-dropdown-item a:hover{
    background-color: rgb(71, 72, 72);
    cursor: pointer;


    color: white;
}

.navbar-div-container a:hover{
    color: rgb(159, 191, 219);
}




.hidden{
    display: none;
}

.popup-container{
    position: absolute;
    left: 40%;
    top:30%;
}



.content-column-container{
 
    display: flex;
      flex:1;
    flex-direction: column;
  
  
}


/* ---TABLES DATA DISPLAY  */
.table-container{
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
   padding-right: 1%;
   padding-left: 1%;
}
.table-display-data{
    width: 100%;
    border: none;

    border-collapse: collapse;
    
}
.table-display-data thead{
margin-bottom: 20px;
background-color: rgb(181, 202, 255);
font-size: large;   box-shadow: none;


}
.table-display-data-hader-row th{
 
     padding-top: 10px;
     padding-bottom: 10px;
}
.table-display-data-body-row {

    padding: 0;
    height: 50px;
}
.table-display-data-body-row td{
    background-color: rgb(207, 228, 255);
    font-size: large;


     border-bottom: 2px solid rgb(131, 164, 198);
}
.table-display-data-body-row button{
    width: 99%;
 height: 50px;
 margin: auto;
    border: none;
    font-weight: bolder;

}
.table-data-edit-td button{
   
    padding: 0;
    background-color: rgb(181, 213, 255);
    cursor: pointer;
}
.table-data-edit-td button:hover{
    background-color: rgb(236, 244, 255);
}
.table-data-delete-td button{
    background-color: rgb(253, 177, 177);
   cursor: pointer;
}
.table-data-delete-td button:hover{
    background-color: rgb(255, 237, 237);
}

