<div class="section-container">
    <h1>Ukupni Podaci</h1>

    <div class="content-scrollable-row">
      <div class="content-row">
        <div class="content-row-card">
          <h1>Mjesečno</h1>
          <h2>Ukupni prihodi: 1000</h2>
          <h2>Ukupni rashodi: 1000</h2>
          <div class="bottom-button">
          
            </div>
        </div>

        <div class="content-row-card">
          <h1>Godišnje</h1>
          <h2>Ukupni prihodi: 1000</h2>
          <h2>Ukupni rashodi: 1000</h2>
          <div class="bottom-button">
         
            </div>
        </div>

        <div class="content-row-card">
          <h1>Svo vrijeme</h1>
          <h2>Ukupni prihodi: 1000</h2>
          <h2>Ukupni rashodi: 1000</h2>
          <div class="bottom-button">
           
            </div>
        </div>
      </div>
    </div>
  </div>