<div class="section-container">
          
    <h1>Troškovi po grupima transakcija</h1>
    <div class="content-scrollable-row">
      <div class="content-row">
      <div class="content-row-card">
       <a href="TransactionGroupManager">Uredi grupe</a>
      </div>

      <div class="content-row-card">
        <h1>Struja</h1>
        <div>
          <h1>Mjesečno</h1>
         
          <h2>Ukupni rashodi: 1000</h2>
        </div>

        <div>
          <h1>Godišnje</h1>
         
          <h2>Ukupni rashodi: 1000</h2>
        </div>
        <div class="bottom-button">
       
        </div>
      </div>

</div>  
    </div>





  </div>