.content-columns-container{
    width: 100;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: rgb(142, 168, 171);
}


/* FORM POPUP---------------------------------------*/
.form-container{
    width: 300px;
  
    display: flex;
   
    flex-direction: column;
    background-color: lightgray;
   
}
.form-close-button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.form-body-container{
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.form-element-wrapper-col{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-element-wrapper-row{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.form-element-wrapper-row-ext{
    
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 88%;
}
.form-element-wrapper-row input{
    width: 100%;
    height: 100%;

}
.form-element-wrapper-row select{
    width: 100%;
    height: 100%;
}
.form-element-wrapper-row  button{
    width: 100%;
    height: 100%;
  
}
.container-form-row-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
}
.container-form-row-btn button{
    height: 100%;
    
}
#formDateSelect{
height: 100%;
aspect-ratio: 1/1;
border: none;
cursor: pointer;


}
#formSendBtnAppoitment{
    margin-top: 15px;
}
#formDateInput{
  width: 247px;
  border:none;
  
}
/*--------------------sidebar----------------------------------*/
.sidebar-div{
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 78, 78);
    color: rgb(215, 215, 215);
    font-size: large;
}

.sidebar-container{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(215, 215, 215);
}
.sidebar-container button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: large;
    background-color: rgb(78, 78, 78);
    color: rgb(215, 215, 215);
    cursor: pointer;
}
.sidebar-container button:hover{
    background-color: rgb(129, 129, 129);

}

.sidebar-container a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(215, 215, 215);
}
.sidebar-container a:hover{
    background-color: rgb(129, 129, 129);
}

/*-----------------------------------------------------*/

.form-underbar-container{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
}
.form-underbar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(116, 116, 116);
    color: white;
}
.form-underbar label{
    margin-left: 10px;
}
.form-underbar button{
    margin-left: 10px;
}
.underbar-close-button{

    width: 100%;
   border: none;
   cursor: pointer;
   height: 20px;
   background-color: rgb(171, 171, 171);
}
.underbar-close-button:hover{
    background-color: rgb(197, 196, 196);
}