<div class="content-columns-container">
  <div class="content-column-container">
    <div>
      <h1>Title</h1>
      <button>Uredi</button>
    </div>
    <h4>AccType: Bank</h4>
    <p>Balance: 100</p>

    <div></div>

    <div>
      <h1>Transactions:</h1>
      <button id="newTransactionBtn">+nova Transakcija</button>
    </div>

    <%- include("parts/newTransact")%>

  
   






  </div>
</div>
