<div class="content-columns-container">
  <div class="content-column-container">
    <div>
      <h1>Title</h1>
      <button>Uredi</button>
    </div>
    <h4>AccType: Bank</h4>
    <p>Balance: 100</p>

    <div></div>

    <div>
      <h1>Transactions:</h1>
      <button id="newTransactionBtn">+nova Transakcija</button>
    </div>

    <div id="newTransactionFormDiv" class="hidden">
      <div class="form-popup-container fin-acc-form-popup">
        <div class="form-popup-close-btn-div">
          <button id="popupBtnCloseTransactionForm">X</button>
        </div>


        <form id="formNewTrans" class="form-popup popup-form-inputs">

          <input type="hidden" name="finAccId" >
          <input type="hidden" name="submitType" value="newTransact">

          <div class="popup-form-header">
            <h1>Nova transakcija</h1>
          </div>

          <div class="form-part-item popup-form-inputs">
            <div class="form-part-column">
              <label>Datum:</label>
              <input type="date" />
            </div>
          </div>

          <div class="form-part-item popup-form-inputs">
            <div class="form-part-column">
              <label>Iznos:</label>
              <input />
            </div>
          </div>

          <div class="form-part-item popup-form-inputs">
            <div class="form-part-column">
              <label>Opis</label>
              <textarea></textarea>
            </div>
          </div>

          <div class="form-part-item popup-form-inputs">
            <div class="form-part-column">
              <div class="form-part-row">
                <label>Grupa</label>
                <button id="newTransactionGrpBtn" class="label-add-btn" type="button">+</button>
              </div>

              <select></select>
            </div>
          </div>

          <div class="form-part-item">
            <div class="form-part-row popup-control-buttons">
              <button id="btnCloseTransactionForm" class="popup-left-btn" type="button">Odustani</button>
              <button class="popup-right-btn">Dodaj Transkaciju</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="newTransactionGrpFormDiv" class="hidden">
      <div class="form-popup-container fin-acc-form-popup">
        <div class="form-popup-close-btn-div">
          <button id="popupBtnCloseTransactionGrpForm">X</button>
        </div>
        <form id="formNewTransGrp" class="form-popup">
          <h1>Dodaj novu grupu transakcija</h1>
          <div class="form-part-item popup-form-inputs">
            <div class="form-part-column">
              <label>Naziv</label>
              <input />
            </div>
          </div>

          <div class="form-part-item">
            <div class="form-part-row popup-control-buttons">
              <button id="btnCloseTransactionGrpForm" class="popup-left-btn" type="button">Odustani</button>
              <button class="popup-right-btn">Dodaj</button>
            </div>
          </div>
        </form>
      </div>
    </div>







  </div>
</div>
