<div class="content-columns-container">
  <div class="content-column-container">
    <div>
      <h1>Title</h1>
      <button>Uredi</button>
    </div>
    <h4>AccType: Bank</h4>
    <p>Balance: 100</p>

    <div></div>

    <div>
      <h1>Transactions:</h1>
      <button>+nova Transakcija</button>
    </div>

    <div class="form-popup-container">
      <div>
        <button>X</button>
      </div>
      <form class="form-popup">
        <h1>Nova transakcija</h1>

        <div class="form-part-item">
          <div class="form-part-column">
            <label>Datum:</label>
            <input type="date" />
          </div>
        </div>

        <div class="form-part-item">
         <div class="form-part-column">
         <label>Iznos:</label>
         <input />
         </div>
        </div>
  
        <label>Opis</label>
        <textarea></textarea>

        <label>Grupa</label> <button type="button">Kreiraj Grupu</button>
        <select></select>


        <button type="button">Odustani</button>
        <button>Dodaj Transkaciju</button>



      </form>
    </div>

    <div>
      <form>
        <label>Naziv</label>
        <input />
        <button type="button">Odustani</button>
        <button>Dodaj</button>
      </form>
    </div>
  </div>
</div>
