<div class="fin-acc-view-account-details">

    <div class="fin-acc-row-wrapper">
      <h1><%= locals.finAccData.finAccName %></h1>
      <button id="finAccEditBtn" class="fin-acc-edit-btn">✎</button>
    </div>


    <h2>Vrsta računa: <%=locals.finAccData.accType %></h2>
    <h2>Stanje: <%=locals.finAccData.balance %> <%=locals.finAccData.currency %> </h2>
  </div>


</div>