<div id="editFinAcc" class="hidden">

  <div class="form-popup-container fin-acc-form-popup">

    <div class="form-popup-close-btn-div">
      <button id="editFinAccPopupCloseBtn">X</button>
    </div>

    <form id="finAccEditFormForm "
    class="form-popup popup-form-inputs"
    >
      <input id="finAccEditFormAccIdInput" type="hidden" name="finAccEditFormAccIdInput" value="0" />
      <div class="popup-form-header"><h1>Uredi Račun</h1></div>
       
      <div class="form-part-item popup-form-inputs">
        <div class="form-part-column">
          <label>Ime:</label>
          <input id="finAccEditFormNameInput" />
        </div>
      </div>

      <div class="form-part-item popup-form-inputs">
        <div class="form-part-column">
          <label>Stanje:</label>
          <input id="finAccEditFormBalance" />
        </div>
      </div>

      <div class="form-part-item popup-form-inputs">
        <div class="form-part-column">
          <label>Valuta:</label>
          <select id="finAccEditFormCurrencyInput"></select>
        </div>
      </div>

      <div class="form-part-item popup-form-inputs">
        <div class="form-part-column">
          <label>Vrsta Računa:</label>
          <select id="finAccEditFormAccType"></select>
        </div>
      </div>

      <div class="form-part-item">
        <div class="form-part-row popup-control-buttons">
          <button type="button" id="editFinAccPopupClsBtn" class="popup-left-btn">Odustani</button>
          <button class="popup-right-btn">Spremi</button>
        </div>
      </div>
    </form>

  </div>

</div>
