<div id="editFinAcc" class="hidden">

  <div class="form-popup-container fin-acc-form-popup">
    <div class="form-popup-close-btn-div">
      <button>X</button>
    </div>

    <form>
      <input type="hidden" name="id" value="0" />
      <div class="popup-form-header"><h1>Uredi Račun</h1></div>

      <div class="form-part-item popup-form-inputs">
        <div class="form-part-column">
          <label>Ime:</label>
          <input />
        </div>
      </div>

      <div class="form-part-item popup-form-inputs">
        <div class="form-part-column">
          <label>Stanje:</label>
          <input />
        </div>
      </div>

      <div class="form-part-item popup-form-inputs">
        <div class="form-part-column">
          <label>Valuta:</label>
          <select></select>
        </div>
      </div>

      <div class="form-part-item popup-form-inputs">
        <div class="form-part-column">
          <label>Vrsta Računa:</label>
          <select></select>
        </div>
      </div>

      <div class="form-part-item">
        <div class="form-part-row popup-control-buttons">
          <button class="popup-left-btn">Odustani</button>
          <button class="popup-right-btn">Spremi</button>
        </div>
      </div>
    </form>

  </div>

</div>
